.footer {
  padding: 1.5rem 1rem;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__social-icon {
  display: block;
}
