:root {
  --primary-color: #d32f2f;
  --secondary-color: #1a1a1a;
  --accent-color: #fafafa;

  --warning: #f26e56;
  --error: #dc2626;

  --bg-body: #ffffff;
  --text-dark: #1a1a1a;
  --text-muted: #6b6b6b;

  --border-color: #c8c4bc;

  --font-headings: "Merriweather", serif;
  --font-body: "Source Sans 3", sans-serif;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-body);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-body);
  color: var(--text-dark);
}

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw, 2rem);
} */

h2 {
  font-size: clamp(1.3rem, 3.5vw, 2rem);
}

h3 {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
}

p {
  /* font-size: clamp(0.9rem, 1vw + 0.5rem, 1.1rem); */
  font-size: clamp(0.9rem, 0.5vw + 0.7rem, 1rem);

  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__content {
  flex: 1;
}
